<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds">
    <appender name="main" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH}/meepo.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_PATH}/meepo.log-%d{yyyy-MM-dd}</FileNamePattern>
            <MaxHistory>5</MaxHistory>
        </rollingPolicy>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{HH:mm:ss.SSS} %class %-5level %msg%n</pattern>
        </layout>
    </appender>

    <root level="INFO">
        <appender-ref ref="main"/>
    </root>
</configuration>
